#nav-wrapper {
  flex: 1;
  margin: 0 0 0 2.5rem;

  nav {
    &.nav-primary {
      padding: 0;

      #navbarSupportedContent {
        height: 100%;

        ul {
          &.navbar-nav {
            height: 100%;
            flex-wrap: nowrap;
            gap: 1.5rem;

            li {
              padding: 0.875rem;

              &.menu-item {
                height: 100%;

                a {
                  &.nav-link {
                    position: relative;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    color: $primary;
                    font-weight: 600;
                    line-height: 100%;
                    padding: 0.875rem;
                    border-radius: 5px;
                    background-color: white;

                    &.dropdown-toggle {
                      padding-right: 34px;
                      z-index: 888;

                      &::after {
                        content: url("../../../../images/fleche.svg");
                        position: absolute;
                        border: 0;
                        margin-left: 0;
                        right: 14px;
                        top: 47%;
                        transform: translateY(-50%);
                        vertical-align: inherit;
                        transition: all 0.2s;
                      }
                    }

                    &.dropdown-toggle.show {
                      &::after {
                        top: 54%;
                        content: url("../../../../images/fleche-white.svg");
                        transform: translateY(-50%) rotate(180deg);
                      }

                      &:hover,
                      &.active {
                        &::after {
                          top: 54%;
                          content: url("../../../../images/fleche-white.svg");
                          transform: translateY(-50%) rotate(180deg);
                        }
                      }
                    }

                    &.active {
                      &.dropdown-toggle {
                        &::after {
                          top: 54%;
                          content: url("../../../../images/fleche-white.svg");
                          transform: translateY(-50%) rotate(180deg);
                        }
                      }
                    }

                    &.dropdown-toggle.show,
                    &:hover,
                    &.active {
                      color: white;
                      background-color: $primary;
                    }
                  }
                }

                .dropdown-menu {
                  border: 0;
                  padding-top: 35px;
                  top: 25px;
                  border-radius: 24px;
                  z-index: 9;
                  background: transparent !important;

                  div {
                    padding: 22px;
                    border-radius: 5px;
                    background-color: #f7f7f7;
                    transition: all ease-in-out 0.3s;
                  }

                  li {
                    &.menu-item {
                      padding: 10px 0;

                      a {
                        &.dropdown-item {
                          color: #2d2c2c;
                          font-size: 1rem;
                          font-weight: 400;
                          padding: 0;

                          &:hover,
                          &.active {
                            color: black;
                            background-color: transparent;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;

    div {
      box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 25%);
    }
  }
}
