header {
  position: sticky;
  z-index: 999;
  top: 0;
  padding: 1.625rem 2.5rem;
  background-color: white;

  @include media-breakpoint-down(sm) {
    padding: 1.25rem 1.5rem;
  }

  img {
    @include media-breakpoint-down(sm) {
      max-height: 39px;
      width: auto;
    }
  }
}

.nav-is-stuck {
  header {
    box-shadow: 0 2px 10px 0 rgb(7 7 7 / 15%);
    transition: all 0.3s ease-in-out;
  }
}
