.btn {
  transition: 0.3s ease-out;

  &.btn-primary {
    &:hover {
      color: $primary;
      border: 1px solid $primary;
      background-color: white;
    }
  }

  &.btn-secondary {
    color: $primary;
    border: 1px solid $primary;
    background-color: white;

    &:hover {
      color: white;
      border: 1px solid $primary;
      background-color: $primary;
    }
  }

  &.btn-tertiary {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $primary;
    padding: 0;
    border: none;
    background-color: transparent;

    &::after {
      content: url("../../images/arrow-blue.svg");
      display: inline-block;
      position: relative;
      width: 24px;
      height: 24px;
    }
  }
}
