.gform_wrapper {
  form {
    .gform-body {
      .gform_fields {
        .select2 {
          .selection {
            .select2-selection--single {
              position: relative;
              height: inherit;
              border-radius: 0.625rem;
              border: 1px solid $primary;
              background: white;

              .select2-selection__rendered {
                padding: 10px 14px;
              }

              .select2-selection__placeholder {
                color: #858585;
              }

              .select2-selection__arrow {
                top: 12px;
                right: 14px;
              }
            }
          }
        }

        .select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        textarea {
          max-height: 153px;
          font-size: 1.125rem;
          padding: 23px 14px;
          border-radius: 0.625rem;
          border: 1px solid $primary;
          background: white;
          box-shadow: none;
          min-block-size: inherit;

          &::-webkit-input-placeholder {
            color: #858585;
          }

          &::-moz-placeholder {
            color: #858585;
          }

          &:-ms-input-placeholder {
            color: #858585;
          }

          &:-moz-placeholder {
            color: #858585;
          }
        }

        &:focus,
        &:focus-visible,
        &:focus-within {
          outline: none;
        }

        input,
        select {
          &[type="email"],
          &[type="text"],
          &[type="tel"] {
            font-size: 1.125rem;
            padding: 23px 14px;
            border-radius: 0.625rem;
            border: 1px solid $primary;
            background: white;
            box-shadow: none;

            &::-webkit-input-placeholder {
              color: #858585;
            }

            &::-moz-placeholder {
              color: #858585;
            }

            &:-ms-input-placeholder {
              color: #858585;
            }

            &:-moz-placeholder {
              color: #858585;
            }
          }

          &:focus,
          &:focus-visible,
          &:focus-within {
            outline: none;
          }
        }
      }

      .gfield_required {
        span {
          display: none;
        }

        &::after {
          content: "*";
          display: block;
          position: relative;
          margin-left: -3px;
          color: #858585;
        }
      }
    }
  }

  .gform_footer input[type="submit"] {
    display: block;
    font-size: 1rem !important;
    font-weight: 500 !important;
    padding: 0.5rem 1.375rem;
    border-radius: 0.313rem !important;
    margin: 0 auto !important;
    background-color: $primary !important;
  }
}
