.c-menu {
  #navbar-mobile {
    margin-top: 50px;

    #navbarSupportedContent {
      width: 100%;

      li {
        &.menu-item {
          display: block;
          padding: 0;

          a {
            position: relative;
            width: fit-content;
            margin: 0 auto;
            color: $primary;
            font-weight: 600;
            line-height: 100%;
            text-align: center;

            &::before {
              content: "";
              position: absolute;
              display: block;
              width: 0;
              height: 2px;
              left: 50%;
              transform: translateX(-50%);
              bottom: -3px;
              background-color: $primary;
              transition: all 0.3s ease-in-out;
            }

            &:hover,
            &.active {
              &::before {
                width: 100%;
              }
            }
          }
        }
      }

      .dropdown-menu {
        padding-left: 0;
        background-color: $mobile-bg-dropdown-menu;

        li {
          &.menu-item {
            a {
              color: $mobile-dropdown-nav-item-color;
              padding: 0;

              &:hover {
                background-color: $mobile-dropdown-nav-item-color-hover;
              }
            }
          }
        }

        &.show {
          top: 100% !important;
          left: 0;
          position: static !important;
          transform: inherit !important;
        }
      }
    }
  }
}
