.c-menu {
  #navbar-mobile {
    margin-top: 50px;

    #navbarSupportedContent {
      width: 100%;

      li {
        &.menu-item {
          display: block;
          padding: 1.5rem 0;
          border-bottom: 1px solid $primary;

          &:last-child {
            border: 0;
          }

          a {
            position: relative;
            width: 100%;
            font-size: 1.125rem;
            color: $primary;
            font-weight: 600;
            line-height: 100%;
            padding: 0;
          }
        }
      }

      .dropdown-menu {
        padding-left: 0;
        border: 0;
        background-color: white;

        li {
          &.menu-item {
            padding: 0.75rem 0;
            border-bottom: none;

            a {
              color: black;
              font-weight: 400;
              padding: 0;

              &:hover {
                background-color: $mobile-dropdown-nav-item-color-hover;
              }
            }
          }
        }

        &.show {
          top: 100% !important;
          left: 0;
          position: static !important;
          transform: inherit !important;
        }
      }
    }
  }
}
