.section {
  &.slideshow {
    &.style-one {
      overflow: hidden;

      .wp-title {
        margin-bottom: 3rem;
      }

      .slideshow-arrows {
        gap: 11px;

        .arrow {
          display: flex;
          width: 43px;
          height: 43px;
          align-items: center;
          justify-content: center;
          border: 1px solid $primary;
          border-radius: 5px;

          img {
            &.blue {
              display: block;
            }

            &.white {
              display: none;
            }
          }

          &.slick-arrow-prev {
            img {
              transform: rotate(180deg);
            }
          }

          &:hover {
            background-color: $primary;
            transition: all 0.3s ease-in-out;

            img {
              &.blue {
                display: none;
              }

              &.white {
                display: block;
              }
            }
          }
        }
      }

      .slideshow {
        .slick-list {
          overflow: visible;

          .slick-track {
            gap: 1.5rem;

            &::before,
            &::after {
              content: none;
            }

            .slide {
              padding: 1.5rem 1rem;
              border-radius: 0.625rem;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center center;
              background-image: url("../../images/bg-frise.png");

              .wp-item {
                gap: 1.5rem;

                .wp-heading {
                  gap: 3px;
                }
              }

              .overtitle,
              .title,
              p {
                color: white;
              }

              .overtitle {
                font-family: $dm;
                font-size: 2.375rem;
                line-height: 100%;
              }

              .title {
                font-size: 1.375rem;
                line-height: 100%;
              }

              .wp-text {
                p:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
